
.defaultbtn {
  width : 180px;
  height : 70px;
  background-color: #00C4EF;
  border: none;
  font-size: 35px;
  font-family: sans-serif;
  color:white;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  
}

.disabledbtn {
  width : 180px;
  height : 70px;
  background-color: #CEE0E4;
  border: none;
  font-size: 35px;
  font-family: sans-serif;
  color:white;
  display: flex;
  align-items: center;
}